<main class="main-body">
  <p class="img-welcome1">
    <img src="welcome1.jpg">
  </p>
  <h2 class="home-h2">Organise Your Todos Now...<br>
    <%= link_to "Get started", new_session_path, class:"get-started" %>
  </h2>
</main>
